<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593290488429-g9g8iv2p000c42jo13th3j3j2maankgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593290488429-g9g8iv2p000c42jo13th3j3j2maankgv</string>
	<key>API_KEY</key>
	<string>AIzaSyCaBpNMVD0_2HFH1N4YH8gNjLi64dgR1yM</string>
	<key>GCM_SENDER_ID</key>
	<string>593290488429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-ad3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-ad3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593290488429:ios:c0e173acb128807331ad64</string>
</dict>
</plist>